set noparent
linelength=100
includeorder=standardcfirst
root=services/ros2-bridge/include
# Filters disabled to match the project's ament/ROS2 clang-format style
# (Allman braces, AccessModifierOffset: -2, custom include ordering).
filter=-legal/copyright
filter=-build/c++11
filter=-build/namespaces_literals
filter=-runtime/references
filter=-whitespace/braces
filter=-whitespace/indent
filter=-build/include_order
# Generated protobuf/gRPC sources should not be linted.
exclude_files=.*\.pb\.h$
exclude_files=.*\.pb\.cc$
exclude_files=.*\.grpc\.pb\.h$
exclude_files=.*\.grpc\.pb\.cc$
